/_build
/deps
/test/tmp
/npm-debug.log
/node_modules
/html/*.html
posts/test*
posts/测试*
*~
npm-debug.log
.idea/
*.iml
html/assets/sidebar-doc*
html/fonts/
test/assets/
demo/assets/
demo/test.html
demo/tmp/
demo/index.html
demo/blog.html
/*.ez
html/images
doc/
installer/_build/