.ui.header:first-child {
    margin-top: 20px;
}

h1.ui.header {
    font-size: 2rem;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 50px;
}

.user .people .avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

.avatar-thumb img {
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.basic-info {
    width: 120px;
    height: 120px;
    text-align: center;
}

.blog-list>li {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-bottom: 17px;
    margin: 0 0 17px;
    border-bottom: 1px dashed #d9d9d9;
    box-sizing: border-box;
    word-wrap: break-word;

}

.blog-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.blog-list .title >a:hover {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #147baf;
}

.blog-list .list-footer {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.blog-list .list-top {
    margin: 8px 0;
    font-size: 12px;
}

a:focus,a:hover {
    color: #000000;
}


a {
    color: #555555;
}

a.author-name {
    color: #4594C7;
}

.author-info {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    font-size: 14px;
    color: #999999;
}


